.Sidebar {
    background-color: #ffffff;
    color: #fff;
    position: fixed;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    z-index: 10;
  }
    
    .logo {
      display: flex; /* Use flexbox */
      justify-content: center; /* Center vertically */
      padding: 30px; /* Add some padding for spacing */
    }
    
    .logo img {
      height: 3em;
      width: auto; /* Allow the width to adjust based on the aspect ratio */
      padding-bottom:1em ;
    }
    
    .userInfo{
      display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding-bottom:2em ;
  
    }
    .userInfoLine{
      color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 401;
    line-height: 50%;
    letter-spacing: -0.22px;
    }
    .menuItem{
      padding: 0px;
      list-style: none;
      width: 100%;
    }

  
    .menuItemlink {
      display: flex;
      flex-direction: row;
      padding: 10px;
      text-decoration: none;
      color: black;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 36px */
      letter-spacing: -0.264px; 
      background-color: transparent;
      transition: background-color 0.3s ease, color 0.3s ease;
      position: relative;
      justify-content: center;
      cursor: pointer;
    }
    
    .menuItemlink.clicked {
      background-color: rgba(79, 79, 79, 1); /* Light gray with low opacity */
    }
    
    .menuItemlink.clicked::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 47px;
      height: 100%;
      background-color: pink;
    }
    
    .logoutButton {
      display: flex;
      align-items: center;
      bottom: 20px;
      cursor: pointer;
      justify-content: center;
      position: fixed;
      }
    
    /* Style the Logout text */
    .logoutButton p {
      margin: 0;
      color: black;
      margin-left: 5px; /* Adjust this value for spacing between icon and text */
    }
    
    /* Style the ExitToAppIcon */
    .logoutButton svg {
      font-size: 24px; /* Adjust this value for icon size */
    }
  
